/*----- Footer Section
--------------------------------------------------------------*/
footer#footer {
    
    
    background-color: #EDEBE4;
    border-top: 1px solid #E0E0E0;
    position: fixed;
    position: min-content;
    width: 100%;
    bottom: 0px;
    z-index: 100;
}
#footer .footer-item {
    margin-right: 100px;
}
#footer .footer-item img.footer-logo {
    margin-bottom: 40px;
}
#footer .footer-item p {
    width: 80%;
}
#footer .footer-menu {
    margin-right: 40px;
    margin-bottom: 40px;
}
#footer .footer-menu ul {
    list-style: none;
}
#footer .footer-menu ul a {
    color: var(--dark-text-color);
    text-decoration: none;
}
#footer .footer-menu:last-child {
    margin-right: 0;
}
.footer-menu h5 {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  #footer .footer-item {
    margin-right: 0;
  }
}


@media screen and (max-width: 1024px) {
    #footer {
        display: none;
    }
  }